<section id="services">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">
                  Services
                </h2>
                <h3 class="section-subheading text-muted">
                  Focusing on a handful of core technologies allows us to invest in delivering quality products faster
                </h3>

            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-4">
                <img src="/img/logos/logo-react.svg" alt="ReactJS" width=120 height=120>
                <h4 class="service-heading">
                  React JS
                </h4>
                <p class="text-muted">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                </p>
            </div>
            <div class="col-md-4">
                <img src="/img/logos/logo-swift.svg" alt="iOS" width=120 height=120>
                <h4 class="service-heading">
                  iOS Swift & Objective-C
                </h4>
                <p class="text-muted">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                </p>
            </div>
            <div class="col-md-4">
                <img src="/img/logos/logo-ruby.svg" alt="Ruby on Rails" width=100 height=120>
                <h4 class="service-heading">
                  Ruby on Rails
                </h4>
                <p class="text-muted">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                </p>
            </div>
        </div>
        <br>
        <div class="row text-center">
            <div class="col-md-4">
                <img src="/img/logos/logo-node.svg" alt="NodeJS" width=160 height=120>
                <h4 class="service-heading">
                  Node JS
                </h4>
                <p class="text-muted">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                </p>
            </div>
            <div class="col-md-4">
                <img src="/img/logos/logo-goggles.png" alt="VR" width=110 height=120>
                <h4 class="service-heading">
                  AR & VR
                </h4>
                <p class="text-muted">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <img src="/img/logos/logo-planning.png" alt="UX" width=120 height=120>
                </span>
                <h4 class="service-heading">
                  UI/UX Design
                </h4>
                <p class="text-muted">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                </p>
            </div>
        </div>

        <div class="row">
          <h3 class="section-heading">
            Our Process
          </h3>
          <p class="large text-muted">
            We start with a conversation about your goals, then develop a plan with you. <br> Depending on the project's current progress, this is how we break it down:
          </p>
          <ul class="text-muted">
            <li>
              <b>Discovery</b> — define possibilities and goals for the project
            </li>
            <li>
              <b>UX Prototype</b> — solidify the experience to build with your team and customers
            </li>
            <li>
              <b>Build</b> — iterate upon the prototype for feedback from your potential customers, then improve
            </li>
            <li>
              <b>Deployment</b> — operate and maintain the application for years to come; we can even help train your team
            </li>
          </ul>
        </div>

    </div>
</section>
