<section id="services" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">
                  Services
                </h2>
                <h3 class="section-subheading text-muted">
                  We can supplement your in-house development team using a handful of core technologies
                </h3>

            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-4">
                <img src="/img/logos/logo-react.svg" alt="ReactJS" width=120 height=120>
                <h4 class="service-heading">
                  React JS
                </h4>
                <p class="text-muted">
                  React and Redux is our top choice for building the best client-side experience on a single-page application. React makes complex interfaces easy with small, reusable components, consistent behavior, and rich interactions.
                </p>
            </div>
            <div class="col-md-4">
                <img src="/img/logos/logo-swift.svg" alt="iOS" width=120 height=120>
                <h4 class="service-heading">
                  iOS Swift & Objective-C
                </h4>
                <p class="text-muted">
                  We develop high-quality iOS and Android mobile applications from one end to the other. And we do it well. Intuitive, engaging, and scalable - that’s our apps in a nutshell.
                </p>
            </div>
            <div class="col-md-4">
                <img src="/img/logos/logo-ruby.svg" alt="Ruby on Rails" width=100 height=120>
                <h4 class="service-heading">
                  Ruby on Rails
                </h4>
                <p class="text-muted">
                  At Nano 3 Labs we have been working with Ruby on Rails for close to 8 years now. We were early adopters of Ruby on Rails after we saw how much more we can get done in a week with Rails compared to other technologies.
                </p>
            </div>
        </div>
        <br>
        <div class="row text-center">
            <div class="col-md-4">
                <img src="/img/logos/logo-node.svg" alt="NodeJS" width=160 height=120>
                <h4 class="service-heading">
                  Node JS
                </h4>
                <p class="text-muted">
                  We know how to make outstanding Node.js applications. Running Node allows us to handle thousands of connections with minimal overhead. We can quickly create complex and fast web apps with ease.
                </p>
            </div>
            <div class="col-md-4">
                <img src="/img/logos/logo-goggles.png" alt="VR" width=110 height=120>
                <h4 class="service-heading">
                  AR & VR
                </h4>
                <p class="text-muted">
                  We work with a variety of Augmented & Virtual Reality technologies like ARKit and ARCore for mobile; Unity and Unreal for HTC Vive and Oculus Rift.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <img src="/img/logos/logo-planning.png" alt="UX" width=120 height=120>
                </span>
                <h4 class="service-heading">
                  UI/UX Design
                </h4>
                <p class="text-muted">
                  From SaaS and enterprise software to mobile apps and marketing websites, we create digital experiences that people love. We work as one team with our clients in an iterative process.
                </p>
            </div>
        </div>
    </div>


</section>
