<section id="team">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">
          Meet Our Team
        </h2>
        <h3 class="section-subheading text-muted">
            We are a team of talented engineers, artists and digital creatives who are focused on delivering quality products. Many of us live in Vancouver, so come have a coffee/beer if you are in the area.
        </h3>
      </div>
    </div>

    <div class="row">
      {% for member in site.people %}
      <div class="col-sm-6">
        <div class="team-member">
          <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="{{ member.name }}" width=250 height=250>
          <h4>{{ member.name }}</h4>
          <p class="text-muted">{{ member.position }}</p>
          <ul class="list-inline social-buttons">
            {% for network in member.social %}
            <li>
                <a href="{{ network.url }}">
                    <i class="fa fa-{{ network.title }}"></i>
                </a>
            </li>
            {% endfor %}
          </ul>
          <p class="description text-muted">
            {{ member.description }}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <p class="large text-muted">
              We love chatting about tech and would love to show you what we are working on.
            </p>
        </div>
    </div>

  </div>
</section>
